.footer__matrix{
	background: #393939;
	padding: 3rem 0 3rem;
	.foot_head{
		color: #fff;
		font-size: 18px;
		font-weight: 800;
		text-transform: uppercase;
	}
	.list_foot{
		li{			
			a{
				color: #ccc;
				&:hover{
					color: #fff;
				}
			}
		}
	}
	.contact_foot{
		li{
			color:#fff;
			font-size: 12px;
			margin-bottom: 10px;
			&.icon_foot{
				padding-left: 2rem;
				position: relative;
				i{
					position: absolute;
					left: 0;
					font-size: 19px;
					top: 2px;
				}
			}
		}
	}
}
#toTop{
	background: url('../images/totop.png') no-repeat center center;
	background-size: 50px 57px;
	position: fixed;
	display: none;
	text-decoration: none;
	bottom: 30px;
	right: 30px;
	overflow: hidden;
	width: 50px;
	height: 57px;
	border: none;	
	z-index: 999;
	opacity: 1;
	text-indent: -9999px;
}