.footer__matrix{
	background: #393939;
	padding: 3rem 0 3rem;
	.foot_head{
		color: #fff;
		font-size: 18px;
		font-weight: 800;
		text-transform: uppercase;
	}
	.list_foot{
		li{			
			a{
				color: #ccc;
				&:hover{
					color: #fff;
				}
			}
		}
	}
	.contact_foot{
		li{
			color:#fff;
			font-size: 12px;
			margin-bottom: 10px;
		}
	}
}