
/* Show it is fixed to the top */
body {
	// min-height: 75rem;
	// padding-top: 5.5rem;
}
.center_content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
}
.top_strip{
	background: $prime;
	padding: 0 10px;
	@include respond-to($tablet-portrait) {
		text-align: center;
	}
	.address{
		color: #fff;
		font-size: 13px;
		font-family: $mainFont;
		display: inline-block;
		margin:5px;
		@include respond-to($i-phone) {
			font-size: 11px;
		}
	}
	.social_network{
		margin-bottom: 0;
		float: right;
		margin-top: 5px;
		@include respond-to($tablet-portrait) {
			float: none;
		}
		li{
			margin:0;
			.icon{
				display: inline-block;
				background: #fff;
				color:$prime;
				width: 30px;
				height: 30px;
				position: relative;
				border-radius: 4px;
				@include transition(all 0.3s ease-in-out);
				&.facebook{
					&:hover{
						background: #3B5998;
						color: #fff;
					}
				}
				&.linkedin{
					&:hover{
						background: #0077B5;
						color: #fff;
					}
				}
				&.twitter{
					&:hover{
						background: #00aced;
						color: #fff;
					}
				}
				&.google{
					&:hover{
						background: #EA4335;
						color: #fff;
					}
				}
				&.youtube{
					&:hover{
						background: #ff0000;
						color: #fff;
					}
				}
				.fab{
					margin-right: 0;
					@extend .center_content;
				}
			}
		}
	}
}
.matrix_header{
	.navbar{	
		@include box-shadow(none);
		z-index: 99;
		background: #fff;
		.navbar-brand{
			margin-left: 2.6rem;
			@include respond-to($tablet-portrait) {
				margin-left: 1rem;
			}
			.logo_img{
				width: 150px;
				float: left;
			}
			.logo_text{
				float: left;
				font-weight: 700;
				margin-left: 10px;
				color: $orange;
				span{
					color: $green;
				}
			}
		}
		.navbar-nav{
			margin-right: 4rem;
			.nav-item{
				margin-left: 1rem;
				.top_actions{
					.icon{
						display: inline-block;
						i{
							color:$prime;
						}
					}
					.info{
						display: inline-block;
						font-family: $mainFont;
						a{
							color: #000;
							&:hover{
								color: $second;
								text-decoration: underline;
							}
						}
					}
				}	
			}
		}
		

	}
	
}
.main_menu{
	background: #363636;
	.navbar{
		@include box-shadow(none);
		padding: 0;
		.navbar-nav{
			li{
				&.active{
					a{
						background:$prime;
						color:#fff;
					}
				}
				a{
					font-family: $mainFont;
					font-weight: 400;
					color:#fff;
					padding: 9px 23px;
					// min-width: 120px;
					text-align: center;
					text-transform: capitalize;
					font-size: 13px;
					@include transition(all 0.3s ease-in-out);
					@include respond-to($desktop) {
						padding: 9px 17px;
					}
					@include respond-to($mac) {
						padding: 9px 12px;
					}
					&:hover{
						background:$prime;
						color:#fff;
					}
				}
			}
		}
	}
}
.ma5menu__toggle{
	width:auto;
	background:transparent;
	&:hover{
		background-color: transparent;
		color:$prime;
	}
	&:focus{
		@include box-shadow(none);
	}
}
.ma5menu__alert{
	background-image: linear-gradient(to bottom, rgba(14,101,182,0) 0%, $prime 50%)
}
.ma5menu__head{
	border-bottom:0;
}
.ma5menu__container{
	background-color: #082d1c;
	background-image: url("../images/menu-background.png");
}
.ma5menu__panel{	
	background-color: #00311a;
	background-image: url("../images/menu-background.png");	
	ul{
		li{
			a{
				font-size:13px;
				min-height:auto;
				font-family: $mainFont;
				@include padding(10px 20px);
				i{
					@include margin(0 10px 0 0);
				}
			}
		}
	}
}
.ma5menu__toggle{
	background-color: transparent;
	right: 15px;	
}
.ma5menu__container{
	background: $prime;
	.ma5menu__panel{
		background: $prime;
	}
}
.ma5menu--right .ma5menu__header .ma5menu__toggle{background: rgba(255, 255, 255, 0.25);margin: 10px;width: 40px;height: 40px;}