.small_btn{
	text-transform: capitalize;
	padding: 5px 15px;
	font-size: 10px;
	margin-bottom: 0;
	background-color: $prime;
	color: #fff;
	font-family: $mainFont;
	letter-spacing: 1px;
	&:hover{
		background-color: $prime;
		color: #fff;
	}
}
.bg_grey{
	background-color: #f0f2f7;
}
.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control{
	background-image: linear-gradient(0deg,$prime 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,#aba9a9 1px,transparent 0);
}
.is-focused [class*=" bmd-label"], .is-focused [class^=bmd-label]{
	color:$prime;
}
.text-white{
	color: #fff !important; 
}
.datepicker{
	background-color: transparent !important;
}
.main_banner{
	position: relative;
	z-index: 0;
	.working_hours{
		background: $second;
		z-index: 1;
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 10px 27px;
		border-top-left-radius:10px;
		@include respond-to($large-phone) {
			padding: 5px 20px;
		}
		p{
			color: #fff;
			margin-bottom: 0;
			font-size: 10px;
		}
		h2{
			font-size: 15px;
			margin-bottom: 0;
			color: #fff;
			font-weight: 800;

		}
	}
	.top_banner_slider{
		position: relative;
		overflow: hidden;
		.slide{
			min-height: 500px;
			-webkit-background-size: 100% 100%;
			background-size: 100% 100%;
			@include respond-to($tablet-landscape) {
				min-height:350px;
			}
			@include respond-to($tablet-portrait) {
				min-height:350px;
			}
			@include respond-to($mid-phone) {
				min-height: 290px;
			}			

		}
		.owl-nav{
			font-size: 3rem;

			@include respond-to($tablet-landscape) {
				font-size: 2rem;
			}
			@include respond-to($tablet-portrait) {
				font-size: 2rem;
			}
			.owl-prev{
				position: absolute;
				top:50%;
				left:-5%;
				transform: translateY(-50%);
				color: $second !important;
				@include transition(all 0.3s ease-in-out);
				@include respond-to($tablet-landscape) {
					left:1%;
				}
				@include respond-to($tablet-portrait) {
					left:1%;
				}
				&:focus{
					outline: none;
				}
			}
			.owl-next{
				position: absolute;
				top:50%;
				right:-5%;
				transform: translateY(-50%);
				color: $second !important;
				@include transition(all 0.3s ease-in-out);
				@include respond-to($tablet-landscape) {
					right:1%;
				}
				@include respond-to($tablet-portrait) {
					right:1%;
				}
				&:focus{
					outline: none;
				}
			}
		}
		&:hover{
			.owl-prev{			
				left:1%;
			}
			.owl-next{
				right:1%;
			}
		}
	}
}
.slide1{
	.content__silider{
		position: absolute;
		top: 35%;
		right: 6%;
		@include respond-to($mac) {
			padding: 20px;
			background: rgba(255, 255, 255, 0.43);
		}
		@include respond-to($phone) {
			top: 50%;
			left: 50%;
			right: auto;
			transform: translate(-50%,-50%);
			width: 75%;
		}
		@include respond-to($phone) {
			background: rgba(255, 255, 255, 0.68);
		}
		.sub__title{
			font-size: 28px;
			@include respond-to($large-phone) {
				font-size: 20px;
			}
			@include respond-to($phone) {
				font-size: 14px;
			}
			span{
				color: $prime;
				font-weight: 800;
			}
		}
		.main__title{
			font-size: 40px;
			@include respond-to($large-phone) {
				font-size: 28px;
			}
			@include respond-to($phone) {
				font-size: 18px;
			}
			@include respond-to($i-phone) {
				font-size: 16px;
			}
		}
		.sub_title_2{
			font-size: 15px;
			color: rgb(59, 59, 59);
			@include respond-to($large-phone) {
				font-size: 13px;
			}
			@include respond-to($phone) {
				font-size: 12px;
			}
		}
	}
}
.slide2{
	.content__silider{
		position: absolute;
		top: 35%;
		right: 6%;
		@include respond-to($mac) {
			padding: 20px;
			background: rgba(255, 255, 255, 0.43);
			@include respond-to($phone) {
				background: rgba(255, 255, 255, 0.68);
			}
		}
		@include respond-to($phone) {
			top: 50%;
			left: 50%;
			right: auto;
			transform: translate(-50%,-50%);
			width: 75%;
		}
		.sub__title{
			font-size: 28px;
			@include respond-to($large-phone) {
				font-size: 20px;
			}
			@include respond-to($phone) {
				font-size: 14px;
			}

		}
		.main__title{
			font-size: 40px;
			color: $prime;
			font-weight: 800;
			@include respond-to($large-phone) {
				font-size: 28px;
			}
			@include respond-to($phone) {
				font-size: 18px;
			}
			@include respond-to($i-phone) {
				font-size: 16px;
			}
		}
		.sub_title_2{
			font-size: 15px;
			color: rgb(59, 59, 59);
			@include respond-to($large-phone) {
				font-size: 13px;
			}
			@include respond-to($phone) {
				font-size: 12px;
			}
		}
	}
}

.matrix-section{
	padding: 2rem 0 2rem;
	// background: #ccc;
}
.heading-matix{
	position: relative;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 3rem;
	.heading-main{
		font-size: 30px;
		@include respond-to($tablet-portrait) {
			font-size: 23px;
		}
		span{
			color: $prime;
			font-weight: 800;
		}
	}
	.heading-sub{
		font-size: 15px;
		margin-bottom: 0;
		color: #9e9e9e;
	}
	.img_icon{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 90px;
		@include respond-to($tablet-portrait) {
			width: 60px;
		}
	}
}
.content_matrix{
	@include respond-to($phone) {
		width: 90%;
		margin: 0 auto; 
	}
	p{
		font-size: 14px;
		text-align: justify;
		@include respond-to($i-phone-6) {
			font-size: 13px;
		}
	}
}

.top-services{
	padding: 2rem 0 4rem;
	position: relative;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-position: top center;
	@include respond-to($tablet-portrait) {
		padding: 4rem 0 2rem;
		background-attachment: scroll;
	}
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 0.8;
		background: -moz-linear-gradient(200deg, rgba(70, 199, 207, 0.8) 0%,rgba(123,100,203,0.8) 100%);
		background: -webkit-linear-gradient(200deg, rgba(70, 199, 207, 0.8) 0%,rgba(123,100,203,0.8) 100%);
		background: linear-gradient(200deg, rgba(70, 199, 207, 0.8) 0%,rgba(123,100,203,0.8) 100%);
	}
}
.top_services_sec{
	padding: 20px;
	background: #fff;
	border-radius: 4px;
	border:1px solid #ccc;
	@include respond-to($tablet-portrait) {
		margin-bottom: 3rem;
		min-height: 200px;
	}
	@include respond-to($mid-phone) {
		margin-bottom: 3rem;
		min-height: auto;
	}
	&:hover{
		border:1px solid #a1effd;
	}
	.icon-wrapper{
		width: 70px;
		height: 70px;
		background: #aceefe;
		border: 5px solid #ffffff;
		margin:-50px auto 0px;
		border-radius: 50%;
	}
	h2{
		font-size: 18px;
		font-weight: 800;
		text-align: center;
		margin-top: 1rem;
	}
	p{
		font-size: 13px;
		text-align: center;
		
	}
}
.doc_detials{
	width: 100%;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	border-radius: .125rem;
	background-clip: border-box;
	border: 0;
	@include respond-to($tablet-portrait) {
		margin-bottom: 2rem;
	}
	.doc_image{
		width: 40%;
		float: left;
		@include respond-to($phone) {
			width: 100%;
			float: none;
		}
	}
	.doc_info{
		width: 60%;
		float: right;
		padding: 10px;
		@include respond-to($phone) {
			width: 100%;
			float: none;
		}
		h4{
			font-weight: 800;
			font-size: 18px;
			margin-bottom: 0;
			min-height: 40px;
			@include respond-to($phone) {
				min-height: auto;
			}
		}
		.badge-color{
			background-color: $second;
			font-family: $mainFont;
			color: #fff;
			margin-bottom: 10px;
			font-weight: 300;
			padding: 3px 10px;
		}
		p{
			font-size: 12px;
			margin-bottom: 5px;
		}
	}
}

// Service
.services_home{
	background: #f3f3f3;
}
.single-service {
	padding: 10px;
	margin-bottom: 60px;
	background: #034ea2;
	display: inline-block;
	position: relative;
	border-style: solid;
	border-width: 1px 1px 4px;
	border-color: #ddd #ddd #034ea2;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	&:before{
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #fff;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		-webkit-transform-origin: 50%;
		transform-origin: 50%;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}
	&:hover{
		color: #fff;
		&:before{
			-webkit-transform: scaleX(0); 
			transform: scaleX(0);
		}
		h5{
			color: #fff;
		}
	}
	h5 {
		margin: 15px 0 10px;
		font-size: 18px;
		text-transform: uppercase;
		font-weight: 800;
		min-height: 35px;
	}
	p {
		margin-bottom: 10px;
		font-size: 13px;
		text-align: justify;
		min-height: 80px;
	}
}


.single-service:hover .serv-rmbtn {
	background: #333;
}
.serv-rmbtn {
	color: #fff;
	background: #034ea2;
	padding: 4px 17px;
	display: inline-block;
	letter-spacing: 1px;
	position: absolute;
	bottom: -32px;
	left: -0.5px;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
	font-family: $mainFont;
}

.serv-rmbtn:hover,.serv-rmbtn:focus {
	background: #333;
	color: #fff;
}
.testimonial_home_container{
	padding: 0 0 0rem;
}
.doctors_home{
	padding: 2rem 0 5rem;
	@include respond-to($phone) {
		padding:1rem 0 1rem;
	}
}
.testimonial_bg{
	min-height: 500px;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	@include respond-to($tablet-portrait) {
		background-attachment: scroll;
	}
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 0.8;
		background: -moz-linear-gradient(200deg, rgba(70,199,207,0.8) 0%, rgba(123,100,203,0.8) 100%);
		background: -webkit-linear-gradient(200deg, rgba(70,199,207,0.8) 0%, rgba(123,100,203,0.8) 100%);
		background: linear-gradient(200deg, rgba(70,199,207,0.8) 0%, rgba(123,100,203,0.8) 100%);
	}
}
.bookAppoint_bg{
	background: #f7f7f7;
}
.testimonial_items{
	position: relative;
	min-height: 500px;
	@include respond-to($phone) {
		min-height: 545px;
	}
	@include respond-to($i-phone) {
		min-height: 620px;
	}
}
.testimonials_home{
	position: absolute;
	top:50%;
	left: 50%;
	transform:translate(-50%,-50%);		
	width: 75%;
	.testimonial_data{
		background: #fff;
		padding: 20px;
		text-align: center;
		position: relative;
		&:before{
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			margin-left: -10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px;
			top: -20px;
			border-color: transparent transparent #fff transparent;
			bottom: -20px;
			top: auto;
			border-color: #fff transparent transparent transparent;
		}
		h2{
			font-size: 20px;
			color: $second;
			font-weight: 800;
		}
		p{
			font-size: 13px;
			margin-bottom: 0;
		}

	}
	.user_data{
		margin-top: 1.5rem;
		.user_img{
			width: 75px;
			margin: 0 auto;
		}
		.username{
			color:#fff;
			font-size: 15px;
			margin-top: 10px;
			text-transform: uppercase;
			font-family: $mainFont;
			font-weight: 800;
			margin-bottom: 5px;			
		}
		.location{
			font-size: 13px;
			background: #fff;
			display: inline-block;
			font-family: $mainFont;
			padding: 3px 10px;
			text-transform: uppercase;
			border-radius: 4px;
			i{
				margin-right: 5px;
			}
		}
	}
}
.testimonial_slider{
	position: relative;
	.owl-nav{
		position: absolute;
		left:50%;
		bottom: 8%;
		transform: translateX(-50%);
		.owl-prev{
			color:#fff !important;
			border:2px solid #fff !important;
			min-width: 45px;
			min-height: 45px;
			margin-right: 10px;
			@include transition(all 0.3s ease-in-out);
			@include respond-to($i-phone) {
				min-width: 30px;
				min-height: 30px;
			}
			i{
				margin-right: 0;
			}
			&:focus{
				outline: none;
			}
			&:hover{
				background: #fff;
				color:#000 !important;
			}
		}
		.owl-next{
			color:#fff !important;
			border:2px solid #fff !important;
			min-width: 45px;
			min-height: 45px;
			margin-left: 10px;
			@include transition(all 0.3s ease-in-out);
			@include respond-to($i-phone) {
				min-width: 30px;
				min-height: 30px;
			}
			i{
				margin-right: 0;
			}
			&:focus{
				outline: none;
			}
			&:hover{
				background: #fff;
				color:#000 !important;
			}
		}
	}
}
.book-an-appointment{
	padding: 2rem 0 2rem;
	.book_icon{
		width: 50px;
		@include respond-to($tablet-portrait) {
			width: 50px;
		}
	}
	.form_book{
		width:90%;
		margin:0 auto;
	}
	
}
span.error{
	position: absolute;
	margin-top: 0;
	font-size: .75rem;
}

// Main Page Navigation Heading
.breadcrumb-item+.breadcrumb-item:before{
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: "\f054";
	font-size: 13px;
	padding-left: 15px;
	padding-right: 15px;

}
.matrix_top_heading{
	padding: 30px 0;
	background-image: url('../images/backgrounds/heading.png'); 
	.main_heading{
		.title{
			margin-bottom: 0;
			font-weight: 800;
		}
	}
	.navigation_list{
		.breadcrumb{
			background: #fff;
			float: right;
			border-radius: 0;
			margin-bottom: 0;
			.breadcrumb-item{
				a{
					font-size: 15px;
					font-family: $mainFont;
					color: #505050;
				}
			}
			.breadcrumb-item{
				font-size: 15px;
				font-family: $mainFont;
			}
		}
	}
}
// Contact
.map-responsive{
	overflow:hidden;
	padding-bottom:25.25%;
	position:relative;
	height:0;
	@include respond-to($tablet-landscape) {
		padding-bottom:42.25%;
	}
	@include respond-to($tablet-portrait) {
		padding-bottom:42.25%;
	}
	@include respond-to($phone) {
		padding-bottom:80%;
	}
	iframe{
		left:0;
		top:0;
		height:100%;
		width:100%;
		position:absolute;
	}
}

.contact_matrix_dental{
	padding: 3rem 0 3rem;
	position: relative;
	background-image: url('../images/contact-img.jpg');
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	@include respond-to($tablet-portrait) {
		background-position: left;		
	}
	.contact_info{
		padding: 20px;
		background: rgba(180, 108, 142, 0.0784313725490196);
		-webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.08);
		box-shadow: 0 4px 8px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.08);
		@include respond-to($tablet-portrait) {
			background-color: rgba(255,255,255,0.7);	
		}
		@include respond-to($phone) {
			background-color: rgba(255,255,255,0.91);
		}
		.title{
			font-size: 30px;
			color: $prime;
			margin-bottom: 20px;
		}
		.icon_text{
			font-size: 14px;
			padding-left: 3rem;
			position: relative;
			line-height: 25px;
			margin-bottom: 15px;
			&.phone{
				margin-bottom: 25px;
			}
			img{
				position: absolute;
				left: 0;
				top: -5px;
				width: 33px;
			}
		}
	}
}

// Doctor Profile
.doctor_profile{
	.doc_img_container{
		padding: 5px;
		background: #ccc;
		.info_doc{
			padding: 10px;
			background: #fff;
			h2{
				font-size: 20px;
				font-weight: 600;
				text-align: center;
				color: $prime;
			}
			p{
				font-size: 14px;
				margin-bottom: 0;
				text-align: center;
			}
		}
	}
	.doctor_description{
		padding: 0 2rem;
		.title{
			font-weight: 600;
			border-bottom:1px solid rgba(0,0,0,.1);
			padding-bottom: 10px;
		}
		.para{
			color: #777777;
			font-size: 13px;
			text-align: justify;
			line-height: 25px;
			letter-spacing: 1px
		}
	}
	.other_info{
		padding: 0 2rem;
		.nav__docInfo{
			.nav-tabs{
				border-bottom: 1px solid #dee2e6;
				.nav-item{
					padding: 10px 25px;
					font-family: $mainFont;
					text-transform: uppercase;
					letter-spacing: 1px;
					border: 1px solid #ddd;
					margin-left: 1rem;
					&:first-child{
						margin-left: 0;
					}
					&.active{
						color: #fff;
						background: $prime;
						font-weight: 600;
						&:before{
							position: absolute;
							content: "\f0d7";
							font-family: 'Font Awesome 5 Free';
							font-weight: 900;
							font-size: 30px;
							color: $prime;
							bottom: -25px;
							left: 43%;
						}
					}
				}
			}

		}
		.tab-content{
			padding: 1.5rem 1rem;
			.tab_container{
				ul{
					li{
						position: relative;
						padding-left: 1.5rem;
						margin-bottom: 10px;
						color: #777777;
						font-size: 13px;
						letter-spacing: 1px;
						i{
							position: absolute;
							left: 0;
							top: 3px;
							font-size: 15px;
							color: $second;
						}
					}
				}
			}
		}
	}
}